.menuItem {
  background: transparent !important;
  color: #000 !important;
}

.menuItem:hover {
  background: transparent !important;
  color: #1890ff !important;
}

.menuItemSelected {
  background: transparent !important;
  color: #000 !important;
} 